@import "variables";

footer {
  width: 100%;
  padding: 1% 0;
  font-size: 1rem;
  color: $color__claro;
  background-color: $color__oscuro;

  section {
    margin-top: 5%;
    margin-bottom: 5%;
    &:last-child {
      text-align: center;
    }
    aside {
      padding: 0 5%;    
      img {
          width: 30%;
          margin-bottom: 2%;
      }
      a {
        img {
          width: 2rem;
          margin-right: 2rem;
        }
      }
    }
    small {
      a {
        color: $color__claro;
        text-decoration: none;
    
        &:hover {
          color: $color__terciario;
          text-decoration: wavy;
        }
      }    
    }
  }
}

// R E S P O N S I V E  D E S I G N 

@media screen and (min-width:600px) {
  footer {
    padding: 2.5% 0;
    section {
      margin-top: 0;
      margin-bottom: 0;
      &:first-child {
        display: flex;
      }  
      aside {
        width: 50%;
        padding: 0 5%;    
        img {
          width: 25%;
        }
        a {
          img {
            width: 2rem;
            margin-right: 2rem;
          }
        }
      }  
    }
  }
}