@import "variables";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html main {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $fuente__primaria;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    transition: .9s ease all;
    background: $color__claro--variable;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: $color__gris--oscuro;
}

input:focus {
    outline: none;
}

hgroup {
    margin-top: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: $color__oscuro;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
    color: $color__primario;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color__terciario;
}

h4 {
    font-weight: 500;
    font-size: 1.35rem;
    color: $color__oscuro;
}