@import "variables";

header {
  width: 100%;

  // z-index: 999;
  // position: fixed;
  a,
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    p {
      color: $color__claro;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
      font-size: 1.2rem;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          font-weight: 600;
          color: $color__terciario;
        }
      }
    }
  }

  nav {
    padding: 0 3%;
    background-color: $color__claro;

    // box-shadow: 0px -10px 25px 1px $color__oscuro;
    img {
      width: 6rem;
      margin: 7.5px 0px 7.5px 0px;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}

.equiv {
  position: fixed;
  font-size: 3rem;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 20px;
  box-shadow: 0px 0px 4px 0px;
  color: $color__oscuro;

  &:hover {
    cursor: pointer;
    color: $color__terciario;
  }
}

.toggle {
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 3%;
  border-radius: 5px;
  line-height: 2rem;
  background-color: $color__tenueOscuro;
}

.hidden {
  display: none;
}


// R E S P O N S I V E  D E S I G N 
@media screen and (min-width:900px) {
  header {
    z-index: 999;
    position: fixed;

  }

  .equiv {
    display: none;
  }

  .toggle {
    position: relative;
  }

  .hidden {
    display: inherit;
  }

  ul {
    li {
      font-size: 1.5rem;
      margin-left: 1.5rem;

      a {
        color: $color__oscuro !important;
      }
    }
  }

  nav {
    box-shadow: 0px -10px 25px 1px $color__oscuro;
  }
}