footer
  section  
    aside 
      img(src="../../assets/icons/logo_Sorbito-Cafe.png", alt="logo completo de Sorbito Café")
      p Puedes encontrarnos en Texcoco, Estado de México.
      p "Con un sorbo nos conocerás; con dos, jamás nos olvidarás" (CaféVictoria)
    aside 
      p Síguenos en nuestras redes sociales
      a(href="https://www.facebook.com/SorbitoCafe2021/" target="_blank" rel="noopener noreferrer"): img(src="../../assets/icons/twitter.png", alt="logo twitter") 
      a(href="https://www.facebook.com/SorbitoCafe2021/" target="_blank" rel="noopener noreferrer"): img(src="../../assets/icons/facebook.png", alt="logo facebook") 
      a(href="https://www.instagram.com/sorbito_cafe/" target="_blank" rel="noopener noreferrer"): img(src="../../assets/icons/instagram.png", alt="logo instagram") 
  section 
    h5
      span &copy
      span 2021 
      span  SorbitoCafé
    small Desarrollo por
      a(href="https://detexcoco.com/profesionistas/otros/mexico/carlos-arturo-miranda-trujano")  CarlosArturoMT