extend components/template.pug
block contenidos
  +header 
  main 
    //- - - - - C A R O U S E L - B O O T S T R A P - - - - -
    .carousel.slide#carouselExampleCaptions(data-bs-ride="carousel")
      .carousel-indicators
        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2")
        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3")

      .carousel-inner
        .carousel-item.active
          img.d-block.cover-80(src="../../assets/imgs/background/cover_Sorbito-Cafe4.jpg" alt="Café con logo de Sorbito")
          .carousel-caption.d-md-block.d-none
            h5 Tienda de Café
            p Productos artesanales derivados del café.

        .carousel-item
          img.d-block.cover-80(src="../../assets/imgs/background/cover_Sorbito-Cafe2.jpg" alt="mesa de madera con café")
          .carousel-caption.d-md-block
            h5 Actividades Culturales
            p Promovemos el arte y el trabajo artesanal.

        .carousel-item
          img.d-block.cover-80(src="../../assets/imgs/background/cover_Sorbito-Cafe3.jpg" alt="café en grano con taza de café")
          .carousel-caption.d-md-block
            h5 Espacio de Calma
            p Fomentamos el bienestar psicosocial.

      button.carousel-control-prev(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous

      button.carousel-control-next(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next 

    //- - - - - C A R D S - P R E S E N T A T I O N - - - - -
    section: article: aside 
      +card-presentation('fadeIn0','../../assets/imgs/background/cafe_postre.jpg', 'En Texcoco', 'Puedes encontrar nuestra Tienda de productos derivados del café en Texcoco, Estado de México.')
      +card-presentation('fadeIn1','../../assets/imgs/background/granos_verdes.jpg', 'Desde Veracruz', 'Café 100% puro, el proceso de elaboración es artesanal, hecho en Misantla, Veracruz.')
      +card-presentation('fadeIn2','../../assets/imgs/background/mexico.jpg', 'De México', 'Podemos enviarte nuestros productos a toda la República Mexicana.')

    section: article.flex 
      aside.flex: img.opacity-05(src="https://dam.ngenespanol.com/wp-content/uploads/2019/10/datos-sobre-el-cafe.jpg" alt="")
      hgroup.width-50
        h4 Sobre nosotros
        p Somos un grupo de personas amantes de los productos derivados del café, buscamos promover lo natural y artesanal de nuestros hermanos mexicanos, procurando ofrecer siempre lo mejor.

    section: article: img.cover-middle(src="../../assets/imgs/background/mujer_cafe.jpg" alt="")

    section: article.flex 
      hgroup.width-60
        h4 Nuestros Productos
        p En Sorbito Café encontrarás café tostato en grano, molido y soluble 100% arábica e incluso mezclas con robusta, tú decides cuál es tu favorito. También tenemos granos de café confitados en chocolate, mazapán y bombones de café...
        a(href="productos.html") Ver más
      aside.flex: img.opacity-06(src="../../assets/imgs/background/productos1.jpeg" alt="")

    section: article: img#fadeIn3.hidden0.cover-buy( src="../../assets/imgs/background/compra.png" alt="")

    //- - - - - M A P - F O R M - - - - - 
    section#contact: article.flex1
      aside.flex1__aside
        h4 Dirección
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d940.1813352330511!2d-98.8804663!3d19.5104491!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e7b350eeaaab%3A0x42c02f89b3a284e9!2sConsciente%20Colectivo!5e0!3m2!1sen!2smx!4v1633723692101!5m2!1sen!2smx" allowfullscreen="" loading="lazy" title="Mapa de GoogleMaps para llegar a Sorbito Café")
      aside.flex1__aside
        +form_simple('Sorbito Café', 'carlosarturomt@gmail.com')

      //- B U T T O N - F L O A T
      +button_wh('5514030520')